/* navbar */
nav li {
  list-style: none;
}

header {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}

li a {
  text-decoration: none;
  color: #252432;
}

.nav-links {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.nav-selected {
  color: black;
  font-weight: bold;
}

.cart {
  display: flex;
  gap: 0.3rem;
  margin-left: 1.2rem;
}

/* header */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.hero-title {
  font-size: 3.3rem;
  font-weight: 900;
}

.hero-subtitle {
  font-size: 1.2rem;
}

.hero-text {
  margin-top: 6rem;
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .navbar {
    margin: auto 1rem;
  }

  .hero {
    flex-direction: column;
  }

  .hero-image img {
    max-width: 100%;
  }

  .hero-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .hero-subtitle {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .hero-text {
    order: 2;
    margin-top: 1.3rem;
  }
}
